<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerInfoServlet</display-name>
    <servlet-name>PerInfoServlet</servlet-name>
    <servlet-class>a_personalInfoMana.web.PerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerInfoServlet</servlet-name>
    <url-pattern>/PerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttanInfoServlet</display-name>
    <servlet-name>AttanInfoServlet</servlet-name>
    <servlet-class>a_personalInfoMana.web.AttanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttanInfoServlet</servlet-name>
    <url-pattern>/AttanInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryInfoServlet</display-name>
    <servlet-name>SalaryInfoServlet</servlet-name>
    <servlet-class>a_personalInfoMana.web.SalaryInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryInfoServlet</servlet-name>
    <url-pattern>/SalaryInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>a_personalInfoMana.web.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpInfoServlet</display-name>
    <servlet-name>EmpInfoServlet</servlet-name>
    <servlet-class>b_empInfoMana.web.EmpInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpInfoServlet</servlet-name>
    <url-pattern>/EmpInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAddServlet</display-name>
    <servlet-name>EmpAddServlet</servlet-name>
    <servlet-class>b_empInfoMana.web.EmpAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAddServlet</servlet-name>
    <url-pattern>/EmpAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDeleteServlet</display-name>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <servlet-class>b_empInfoMana.web.EmpDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <url-pattern>/EmpDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpUpdateServlet</display-name>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <servlet-class>b_empInfoMana.web.EmpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <url-pattern>/EmpUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttenInfoQueryServlet</display-name>
    <servlet-name>AttenInfoQueryServlet</servlet-name>
    <servlet-class>c_attanInfoMana.web.AttenInfoQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttenInfoQueryServlet</servlet-name>
    <url-pattern>/AttenInfoQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttenUpdateServlet</display-name>
    <servlet-name>AttenUpdateServlet</servlet-name>
    <servlet-class>c_attanInfoMana.web.AttenUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttenUpdateServlet</servlet-name>
    <url-pattern>/AttenUpdateServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.EPMS.encodingFilter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>reportMana</servlet-name>
  	<servlet-class>com.EPMS.reportMana.action.ReportAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reportMana</servlet-name>
  	<url-pattern>/reportMana</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SysMana</servlet-name>
  	<servlet-class>com.EPMS.SysMana.action.SysAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SysMana</servlet-name>
  	<url-pattern>/SysMana</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SalaryMana</servlet-name>
  	<servlet-class>com.EPMS.SalaryMana.action.SalaryAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SalaryMana</servlet-name>
  	<url-pattern>/SalaryMana</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>empInfoMana</servlet-name>
  	<servlet-class>com.EPMS.empInfoMana.action.EmployeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>empInfoMana</servlet-name>
  	<url-pattern>/empInfoMana</url-pattern>
  </servlet-mapping>
</web-app>